.root {
	-fx-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	-fx-font-size: 13;
}

.label_title {
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.label_title2 {
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

#widgetsSearchBox {
	-fx-font-family: "Arial";
	-fx-font-size: 24;
	-fx-font-weight: bold;
}

.titled-pane:focused > .title {
	-fx-background-color: #FFFFFF;
}